/*تنسيقات صفحة موفري الخدمات*/
.u-section-1 .u-sheet-1 {
  min-height: 441px;
}

.u-section-1 .u-group-1 {
  width: 339px;
  min-height: 58px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 23px 383px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-1 {
  font-family: Almarai;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 11px 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 38px;
  margin-top: 62px;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  min-height: 196px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 101px;
  height: 101px;
  transition-duration: 0.5s;
  background-image: url("../images/user1.png");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 15px 7px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Tajawal-Bold;
  font-size: 1.5rem;
  margin: -101px 123px 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  width: 87px;
  margin: 10px 123px 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px auto 0 38px;
}

.u-section-1 .u-text-5 {
  font-family: Almarai;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 8px auto 0 30px;
}

.u-section-1 .u-text-6 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -24px 123px 0 auto;
}

.u-section-1 .u-text-7 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: 8px 123px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: Almarai;
  background-image: none;
  margin: 0 auto 0 30px;
  padding: 8px 60px 8px 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 27px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 42px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-group-1 {
    width: 289px;
    min-height: 47px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-group-2 {
    min-height: 171px;
    margin-top: 37px;
    margin-bottom: 27px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-group-2 {
    min-height: 180px;
    margin-top: 32px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-image-1 {
    width: 75px;
    height: 75px;
    margin-top: 16px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -75px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -19px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 13px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -22px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 22px;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-group-1 {
    width: 261px;
    min-height: 41px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-2 {
    min-height: 146px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-image-1 {
    width: 50px;
    height: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -50px;
    margin-right: 77px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 9px;
    margin-right: 77px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    margin-top: -1px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 8px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
    margin-top: -26px;
    margin-right: 77px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.625rem;
    margin-top: 9px;
    margin-right: 77px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 16px;
    padding: 4px 47px 4px 46px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .input-box,
  .select {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
  }
  .label {
    margin-right: 10px;
    font-weight: bold;
  }@font-face {
  font-family: 'Tajawal-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Tajawal-Bold.ttf);
}