/*صفحة الخدمات المنفصلة*/
.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 602px;
}

.u-section-1 .u-group-1 {
  min-height: 49px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 229px;
  margin: 40px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-family: Almarai;
  font-weight: 700;
  font-size: 1.5rem;
  width: 169px;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 212px;
  margin-top: 84px;
  margin-bottom: 60px;
  height: auto;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px 29px;
}

.u-section-1 .u-group-3 {
  width: 264px;
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 9px 15px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px 74px 0 auto;
}

.u-section-1 .u-group-4 {
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 224px;
  margin: -68px 275px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 9px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px 59px 0 auto;
}

.u-section-1 .u-group-5 {
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 190px;
  margin: -67px auto 0 419px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-icon-3 {
  width: 50px;
  height: 50px;
  margin: 9px 15px 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px 64px 0 0;
}

.u-section-1 .u-group-6 {
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 203px;
  margin: -69px auto 0 206px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-icon-4 {
  width: 50px;
  height: 50px;
  margin: 9px 8px 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px 54px 0 1px;
}

.u-section-1 .u-group-7 {
  min-height: 70px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 196px;
  margin: -68px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-icon-5 {
  width: 50px;
  height: 50px;
  margin: 10px 0 0 auto;
}

.u-section-1 .u-text-6 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px 49px 0 0;
}

.u-section-1 .u-group-8 {
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 196px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-icon-6 {
  width: 50px;
  height: 50px;
  margin: 9px 15px 0 auto;
}

.u-section-1 .u-text-7 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px 74px 0 auto;
}

.u-section-1 .u-group-9 {
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 203px;
  margin: -68px auto 0 206px;
}

.u-section-1 .u-icon-7 {
  width: 50px;
  height: 50px;
  margin: 9px 15px 0 auto;
}

.u-section-1 .u-text-8 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px auto 0 64px;
}

.u-section-1 .u-group-10 {
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 190px;
  margin: -68px auto 0 421px;
}

.u-section-1 .u-container-layout-10 {
  padding-bottom: 0;
}

.u-section-1 .u-icon-8 {
  width: 50px;
  height: 50px;
  margin: 9px 15px 0 auto;
}

.u-section-1 .u-text-9 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px 65px 0 7px;
}

.u-section-1 .u-group-11 {
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 224px;
  margin: -68px 275px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-icon-9 {
  width: 50px;
  height: 50px;
  margin: 9px 0 0 auto;
}

.u-section-1 .u-text-10 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  margin: -37px 59px 0 auto;
}

.u-section-1 .u-group-12 {
  width: 264px;
  min-height: 68px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -68px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-10 {
  width: 50px;
  height: 50px;
  margin: 9px 15px 0 auto;
}

.u-section-1 .u-text-11 {
  font-family: Tajawal-Bold;
  font-size: 1.25rem;
  width: 106px;
  margin: -37px 74px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-group-1 {
    min-height: 43px;
    margin-top: 51px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 315px;
    margin-top: 68px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-5 {
    margin-left: 211px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: 26px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -36px;
    margin-right: 50px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 26px;
    margin-left: 231px;
    height: auto;
  }

  .u-section-1 .u-group-9 {
    margin-top: -162px;
    margin-left: 204px;
    height: auto;
  }

  .u-section-1 .u-group-10 {
    width: 221px;
    margin-top: 25px;
    margin-right: 230px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 77px;
    margin-left: 25px;
  }

  .u-section-1 .u-group-11 {
    margin-top: -162px;
    height: auto;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: -30px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 0;
  }

  .u-section-1 .u-group-5 {
    margin-top: 0;
  }

  .u-section-1 .u-group-6 {
    margin-top: 0;
  }

  .u-section-1 .u-group-7 {
    margin-top: 0;
  }

  .u-section-1 .u-group-8 {
    margin-top: 0;
  }

  .u-section-1 .u-group-9 {
    margin-top: 0;
  }

  .u-section-1 .u-group-10 {
    margin-top: 0;
  }

  .u-section-1 .u-group-11 {
    margin-top: 0;
  }

  .u-section-1 .u-group-12 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 96px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 130px;
  }

  .u-section-1 .u-group-8 {
    margin-left: 124px;
  }

  .u-section-1 .u-group-9 {
    margin-left: 117px;
  }

  .u-section-1 .u-group-10 {
    margin-right: 99px;
  }

  .u-section-1 .u-group-11 {
    margin-right: 96px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 929px;
}

.u-section-2 .u-group-1 {
  background-image: linear-gradient(to right, #49a8a0, #54a8d4);
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-family: Almarai;
  width: auto;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 1.125rem;
  margin: 21px 0 0 auto;
}

.u-section-2 .u-text-3 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 1rem;
  margin: 92px 0 0 auto;
}

.u-section-2 .u-group-2 {
  margin-top: 10px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px 48px 0 auto;
}

.u-section-2 .u-group-3 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: 71px 0 60px auto;
}

.u-section-2 .u-container-layout-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px 48px 0 auto;
}

.u-section-2 .u-group-4 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: -51px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px 48px 0 auto;
}

.u-section-2 .u-group-5 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: 20px 0 60px auto;
}

.u-section-2 .u-container-layout-5 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px auto 0 35px;
}

.u-section-2 .u-group-6 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: -51px auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-5 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px auto 0 35px;
}

.u-section-2 .u-group-7 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-6 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px auto 0 35px;
}

.u-section-2 .u-group-8 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-7 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px auto 0 35px;
}

.u-section-2 .u-group-9 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-8 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px auto 0 35px;
}

.u-section-2 .u-group-10 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-9 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-12 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -27px auto 0;
}

.u-section-2 .u-group-11 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: 20px 0 60px auto;
}

.u-section-2 .u-container-layout-11 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-10 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-13 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -27px auto 0;
}

.u-section-2 .u-group-12 {
  min-height: 51px;
  height: auto;
  width: 216px;
  margin: 20px 0 60px auto;
}

.u-section-2 .u-container-layout-12 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-section-2 .u-icon-11 {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-14 {
  font-family: Tajawal-Bold;
  width: auto;
  font-size: 0.875rem;
  margin: -28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }

  .u-section-2 .u-group-9 {
    height: auto;
  }

  .u-section-2 .u-group-10 {
    height: auto;
  }

  .u-section-2 .u-group-11 {
    height: auto;
  }

  .u-section-2 .u-group-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-2 .u-group-1 {
    min-height: 44px;
    width: 149px;
    margin: 39px auto 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 187px;
    font-size: 1rem;
    margin-top: 68px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 115px;
  }

  .u-section-2 .u-group-2 {
    min-height: 51px;
    margin-top: -121px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 15px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 6px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 134px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
  }

  .u-section-2 .u-group-5 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-left: auto;
  }

  .u-section-2 .u-text-10 {
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    margin-left: auto;
  }

  .u-section-2 .u-group-10 {
    margin-top: -193px;
  }

  .u-section-2 .u-group-11 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: -27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 70px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-2 .u-group-1 {
    min-height: 36px;
    margin-top: 22px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 53px;
    margin-left: 200px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 59px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -67px;
    min-height: 38px;
  }

  .u-section-2 .u-icon-1 {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    margin-top: -22px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-3 {
    min-height: 41px;
    width: 151px;
    margin-top: 46px;
  }

  .u-section-2 .u-icon-2 {
    width: 30px;
    height: 30px;
    margin-top: 3px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.625rem;
    margin-top: -19px;
    margin-right: 35px;
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    min-height: 41px;
    width: 151px;
    margin-top: -41px;
  }

  .u-section-2 .u-icon-3 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
    margin-top: -21px;
    margin-right: 54px;
  }

  .u-section-2 .u-group-5 {
    min-height: 41px;
    width: 151px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-4 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.625rem;
    margin-top: -21px;
    margin-left: 22px;
  }

  .u-section-2 .u-group-6 {
    min-height: 41px;
    width: 151px;
    margin-top: -41px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-5 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.625rem;
    margin-top: -21px;
  }

  .u-section-2 .u-group-7 {
    min-height: 41px;
    width: 151px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-6 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.625rem;
    margin-top: -21px;
  }

  .u-section-2 .u-group-8 {
    min-height: 41px;
    width: 151px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-7 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-10 {
    font-size: 0.625rem;
    margin-top: -21px;
  }

  .u-section-2 .u-group-9 {
    min-height: 41px;
    width: 151px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-8 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-11 {
    font-size: 0.625rem;
    margin-top: -21px;
  }

  .u-section-2 .u-group-10 {
    min-height: 41px;
    width: 151px;
    margin-top: -163px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-9 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.625rem;
    margin-top: -21px;
  }

  .u-section-2 .u-group-11 {
    min-height: 41px;
    width: 151px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-10 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-13 {
    font-size: 0.625rem;
    margin-top: -21px;
  }

  .u-section-2 .u-group-12 {
    min-height: 41px;
    width: 151px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-11 {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.625rem;
    margin-top: -21px;
  }
}@font-face {
  font-family: 'Tajawal-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Tajawal-Bold.ttf);
}